In [19]:
# 4.7.8 Define the fuction "say_hello" so it prints "Hello!" when called
def say_hello():
    print("Hello!")

In [20]:
say_hello()

Hello!

In [21]:
# Define the function say_something so it prints whatever is passed as the variable when called
def say_something(something):
    print(something)

In [22]:
# Call the function
say_something("Hello World")

Hello World

In [23]:
# Create a variable Jane_says and then add it inside the say_something function
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [24]:
# Define a function that calculates the percentage of students that passed both math and reading and prints the passing percentage to the output when the fuction is called
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [25]:
passing_math_count = 29370

total_student_count = 39170

In [26]:
# Call the function
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [27]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

# Import Pandas
import pandas as pd

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [29]:
# Change the grades by one letter grade
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [30]:
# Using the format() function
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [31]:
# Convert numerical grades to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object